.container{
	background-color: lightblue;
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

/* header banner styling */
.container .header {
	background-color: #651313;
	float: left;
	width: 100%;
}

.container .header .logo {
	float: left;
	width: 55%;
	margin-top: 30px;
	padding-left: 20px;

}
	
.container .header .headline {
	background-color: #651313;
	float: right;
	width: 40%;
}


/* header banner styling end */

/* nav styling start */
.container .nav{
	clear: right;
	float: left;
	width: 100%;
	padding: 5px 0px 5px 0px;
	margin-top: 10px;
}

.nav ul {
  list-style-type: none;
  margin: 5px 0px 5px 0px;
  overflow: hidden;
  background-color: black;
  padding: 5px 5px 5px 5px;
}

.nav li {
  display: inline;
}

.nav li a {
 color: white;
 padding: 14px 16px;
 text-decoration: none;
}

.nav li a:hover {
	background-color: darkgrey;
	color: black;
}

/* nav styling end */

/* date line start */
.container .date {
	background-color: white;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.dateT{
	float: left;
	width: 98%;
	text-align: right;
}
/* date line end */

/* Top news headline style */

.block1{
	margin-top: 10px;
	background-color: red;
	width: 90%;
	float: left;
}
/* .mainFirst {
	background-color: darkgrey;
	float: left;
	width: 80%;
} */

.block1 .news {
	background-color: #F7F3F3;
	float: left;
	padding-left: 5px;
	width: 100%;
	margin-bottom: 10px;
}

h1 {
	font-size: 24px;
}



.side1 {
	clear: left;
	background-color: purple;
	width: 20%;
	float: right;
}
#banner {
	float: right;
}
/* imgs float left to side bar */
.imgBlock1 {
	border:  1px solid black;
	clear: right;
	background-color: cyan;
	margin-top: 20px;
	width: 80%;
	float: left;
} 
/* flexbox for first row of pictures
 */
.flexbox1{
	background-color: yellow;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.fig {
	margin-top: -25px;
	padding-left: 5px;
	background-color: black;
	color: white;
}

.fig2 {
	
	margin-top:  -10px;
	background-color: black;
	color: white;
}
/* start second block */

.block2 {
	background-color: coral;
	width: 90%;
	float: left;
}

.mainSecond{
	background-color: green;
	float: left;
	width: 80%;
}

.popular {
	background-color: #F7F3F3;
	width: 80%;
	float: left;
	/* padding-left: 5px; */
	margin-bottom: 10px;
	margin-top: 10px;
}
.imgBlock2{
	background-color: coral;
	width: 80%;
	float: left;
}

.flexbox2{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

/* Middle banner */

.bannerMiddle {
	float: left;
	width: 100%;

}
.bannerMiddle {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.Block3 {
	background-color: pink;
	float: left;
	width: 100%;
}
.mainThird {
	background-color: lightgreen;
	float: left;
	width: 100%;	
}

.imgBlock3 {
	background-color: cyan;
	width: 100%;
	float: left;
}

.flexbox3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.mainFourth {
	background-color: lightyellow;
	float: left;
	width: 100%;
}

.imgBlock4 {
	background-color: cyan;
	width: 100%;
	float: left;
}

.flexbox4 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.side2 {
	background-color: purple;
	width: 10%;
	float: right;
}

/* footer styling beginn */
 .footer {
	border: 1px solid black;
	float: left;
	width: 100%;
}

.footerText {
	text-align: center;
}

.logoFooter {
	float: right;
	margin-bottom: 25px;
}















